$brand-color: #4c79dc !default;

.custom- {
    &radio,
    &checkbox {
        cursor: pointer;
        padding-left: 20px;
        position: relative;

        input {
            position: absolute;
            left: -9999px;

            &~.custom-btn-span:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 1px solid #ccc;
            }
            &:checked~.custom-btn-span:before{
                border-color: $brand-color;
            }
            &:checked~.custom-btn-span:after {
                content: '';
                background: $brand-color;
                width: 10px;
                height: 10px;
                position: absolute;
                left: 5px;
                top: 5px;
            }
        }
    }
    &radio{
        .custom-btn-span{
            &:before,&:after{
                border-radius: 100%;
            }

        }
    }
}