.grid-table table.table {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background: #fafafa;

    tr {
        margin: 10px 0;
        padding: 10px 0;

        td {
            padding-right: 0;
            white-space: nowrap;
            margin: 0;
            border: none;
            background-color: #fff;
        }
    }

    thead {
        tr {
            td {
                font-size: 90%;
                background: #e6e6e6;
                font-weight: 600;
            }
        }

    }

    tbody tr {
        &.grid-table-row {
            border-top: 11px solid #f1f3f4;

            .table-des {
                max-width: 290px;
                white-space: normal;
            }
            &.has-selected{
                opacity: .7;
                &+.collapse{
                    opacity: .7;
                }
            }

        }

        &:not(.grid-table-row) td {
            background: #fafafa;
        }

    }
}

// @include media("<tablet") {
@media only screen and (max-width: 768px) {
    .grid-table {
        table {
            * {
                position: relative;
            }

            thead {
                display: none;
            }

            tbody {
                tr {
                    border-bottom: 1px solid #999;

                    td {
                        width: 100%;
                        display: block;
                        padding-left: 40% !important;
                        margin-bottom: 24px;

                        &:before {
                            content: attr(data-title);
                            font-size: 14px;
                            color: #999;
                            line-height: 1.2;
                            font-weight: unset;
                            position: absolute;
                            width: 40%;
                            top: 16px;
                            left: 20px;
                        }

                        &.has-checkbox {
                            padding-left: 20px !important;
                        }
                    }

                    &.collapse td {
                        padding-left: 20px !important;

                        &:before {
                            width: 0;
                        }

                        &.has-checkbox {
                            padding: 0;
                        }
                    }
                }
            }

        }
    }
}