.grid-table table.table {
    width: 100%;
    // overflow: hidden;
    border-radius: 10px;
    background: #fafafa;
    margin-bottom: 0;

    tr {
        margin: 10px 0;
        padding: 10px 0;

        td,th {
            white-space: nowrap;
            margin: 0;
            border: none;
            background-color: #fff;
            vertical-align: top;

            .hover-effect{
                width: 25px;
                height: 25px;
                align-items: center;
                justify-content: center;
            }

            small,
            .small {
                line-height: 1.2;
            }

            @media only screen and (min-width: 991px) {
                &.min-max-50 {
                    min-width: 50px;
                    max-width: 50px;
                    width: 50px;
                }

                &.min-max-150 {
                    min-width: 150px;
                    max-width: 150px;
                    width: 150px;
                }

                &.min-max-200 {
                    min-width: 200px;
                    max-width: 200px;
                    width: 200px;
                }

                &.min-max-250 {
                    min-width: 250px;
                    max-width: 250px;
                    width: 250px;
                }

                &.min-max-300 {
                    min-width: 300px;
                    max-width: 300px;
                    width: 300px;
                }

                &.min-max-350 {
                    min-width: 350px;
                    max-width: 350px;
                    width: 350px;
                }

                &.has-checkbox {

                    input[type="radio"],
                    input[type="checkbox"] {
                        margin-top: 14px;
                        margin-bottom: 0;
                    }
                }

            }

        }
    }

    thead {
        tr {
            td,th {
                font-size: 90%;
                background: #ebeeef;
                font-weight: 600;
            }
        }

    }

    tbody tr {
        &.grid-table-row {
            border-top: 1px solid #eee;

            .table-des {
                max-width: 290px;
                white-space: normal;
            }

            &.has-selected {
                opacity: .7;

                &+.collapse {
                    opacity: .7;
                }
            }

            &.read {
                opacity: .7;

                &+.collapse {
                    opacity: .7;
                }
            }

            &:hover td {
                // background: rgb(76, 121, 220, .1);
            }

        }

        &:not(.grid-table-row) td {
            background: #f9fafa;
        }

    }
}

// @include media("<tablet") {
@media only screen and (max-width: 768px) {
    .grid-table {
        table {
            * {
                position: relative;
            }

            thead {
                display: none;
            }

            tbody {
                tr {
                    border-bottom: 11px solid rgba(153, 153, 153, .1);

                    td {
                        width: 100%;
                        display: block;
                        padding-left: 40% !important;
                        margin-bottom: 24px;
                        padding-top: 5px;
                        padding-bottom: 5px;

                        &:before {
                            content: attr(data-title);
                            font-size: 14px;
                            color: #999;
                            line-height: 1.2;
                            font-weight: unset;
                            position: absolute;
                            width: 40%;
                            top: 8px;
                            left: 20px;
                        }

                        &.has-checkbox {
                            padding-top: 10px !important;
                            padding-left: 20px !important;

                            input[type="radio"],
                            input[type="checkbox"] {
                                position: absolute;
                                left: 5px;
                                top: 2px;
                            }
                        }
                    }

                    &.collapse td {
                        padding-left: 20px !important;

                        &:before {
                            width: 0;
                        }

                        &.has-checkbox {
                            padding: 0;
                        }
                    }
                }
            }

        }
    }
}

.form-check .form-check-sign .check {
    width: 15px;
    height: 15px;
}

.form-check .form-check-sign .check:before {
    margin-top: -5px;
    margin-left: 5px;
}

.pagination-input {
    max-width: 50px;
}

.responsive-table {
    overflow: auto;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px){
    .grid-table table.table tbody tr.grid-table-row{
        border-width: 1px 0 0;
    }
    .grid-table [data-sticky="true"] {

        table thead tr th,
        table thead tr td {
            position: sticky;
            top: 0;
        }

        table[data-colfix="1"] td:first-child,
        table[data-colfix="1"] th:first-child,
        table[data-colfix="2"] td:first-child,
        table[data-colfix="2"] th:first-child {
            position: sticky;
            left: 0;
            z-index: 99;
            border-right: none;
        }
        table[data-colfix="1"] td:first-child,
        table[data-colfix="1"] th:first-child{
            border-right: 1px solid #eee;
        }


        table[data-last-col="true"] td:last-child,
        table[data-last-col="true"] th:last-child {
            position: sticky;
            right: 0;
            z-index: 1;
            border-left: 1px solid #eee;
        }

        table[data-colfix="2"] td:nth-child(2),
        table[data-colfix="2"] th:nth-child(2) {
            position: sticky;
            z-index: 99;
            border-right: 1px solid #eee;
        }

    }
}