.grid-table table.table {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background: #fafafa;

    tr {
        margin: 10px 0;
        padding: 10px 0;

        td {
            padding-right: 0;
            white-space: nowrap;
            margin: 0;
            border: none;
            background-color: #fff;

            small,
            .small {
                line-height: 1.2;
            }

            @media only screen and (min-width: 991px) {
                &.min-max-50 {
                    min-width: 50px;
                    max-width: 50px;
                    width: 50px;
                }

                &.min-max-150 {
                    min-width: 150px;
                    max-width: 150px;
                    width: 150px;
                }

                &.min-max-200 {
                    min-width: 200px;
                    max-width: 200px;
                    width: 200px;
                }

                &.min-max-250 {
                    min-width: 250px;
                    max-width: 250px;
                    width: 250px;
                }

                &.min-max-300 {
                    min-width: 300px;
                    max-width: 300px;
                    width: 300px;
                }

                &.min-max-350 {
                    min-width: 350px;
                    max-width: 350px;
                    width: 350px;
                }
                &.has-checkbox {

                    input[type="radio"],
                    input[type="checkbox"] {
                        margin-top: 14px;
                        margin-bottom: 0;
                    }
                }

            }

        }
    }

    thead {
        tr {
            td {
                font-size: 90%;
                background: #e6e6e6;
                font-weight: 600;
            }
        }

    }

    tbody tr {
        &.grid-table-row {
            border-top: 11px solid #f1f3f4;

            .table-des {
                max-width: 290px;
                white-space: normal;
            }

            &.has-selected {
                opacity: .7;

                &+.collapse {
                    opacity: .7;
                }
            }

            &.read {
                opacity: .7;

                &+.collapse {
                    opacity: .7;
                }
            }

        }

        &:not(.grid-table-row) td {
            background: #fafafa;
        }

    }
}

// @include media("<tablet") {
@media only screen and (max-width: 768px) {
    .grid-table {
        table {
            * {
                position: relative;
            }

            thead {
                display: none;
            }

            tbody {
                tr {
                    border-bottom: 1px solid #999;

                    td {
                        width: 100%;
                        display: block;
                        padding-left: 40% !important;
                        margin-bottom: 24px;

                        &:before {
                            content: attr(data-title);
                            font-size: 14px;
                            color: #999;
                            line-height: 1.2;
                            font-weight: unset;
                            position: absolute;
                            width: 40%;
                            top: 16px;
                            left: 20px;
                        }

                        &.has-checkbox {
                            padding-left: 20px !important;

                            input[type="radio"],
                            input[type="checkbox"] {
                                margin-top: 10px;
                            }
                        }
                    }

                    &.collapse td {
                        padding-left: 20px !important;

                        &:before {
                            width: 0;
                        }

                        &.has-checkbox {
                            padding: 0;
                        }
                    }
                }
            }

        }
    }
}

.form-check .form-check-sign .check {
    width: 15px;
    height: 15px;
}

.form-check .form-check-sign .check:before {
    margin-top: -5px;
    margin-left: 5px;
}

.pagination-input {
    max-width: 50px;
}

.responsive-table {
    overflow: auto;
    margin-bottom: 10px;
}