.notifY-alert{
    position:fixed;
    display:none;
    z-index: 10000;
    top:0;
    left: 50%;
    font-size:0.85rem;
    min-width:15rem;
    margin-left: -7.5rem;
    border-radius: 0 0 1rem 1rem;
    padding:.5rem 1rem;
    box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
    &.show{
        display:block;
    }
    .alert-icon{
        display: inline-block;
        float: none;
        margin-right: 0.2rem;
        vertical-align: top;
        .material-icons{
            font-size: 18px;
        }
    }
}