.badge{
    &.data-Open{
        border: 1px solid #f44336;
        color: #f44336;
        border-radius: 10px;
        text-transform: capitalize;
    }
    &.data-In.Progress{
        border: 1px solid #ff9800;
        color: #ff9800;
        border-radius:10px;
        text-transform:capitalize;
    }
    &.data-Close{
        border: 1px solid #4caf50;
        color: #4caf50;
        border-radius:10px;
        text-transform: capitalize;
    } 
}