 // Sections and  pages
 @import
 'components/grid-table',
 'components/expandSearch',
 'components/border-card',
 'components/modal-accordion',
 'components/conversation';

 .ticket-left-panel{
     overflow: hidden;
     min-height: 529px;
     max-height: 529px;
     &:hover{
         overflow: overlay;
         scrollbar-width: thin;
         z-index: 1;
     }
 }