@import 'vendors/material-kit/variables',
'abstracts/variables',
'vendors/material-kit/mixins',
'abstracts/mixins',
'vendors/include-media', 'vendors/chosen/main', 'vendors/bootstrap-tagsinput/bootstrap-tagsinput', 'vendors/chosen/main';

@import "./components/grid-table", "./components/expandSearch", "./components/border-card", "./components/modal-accordion", "./components/custom-input", "./components/hierarchy-structure", "./components/multi-select-pill", "./components/bulk-upload", "components/status", "components/verticalmenulist";

.customSelectMenu {
  max-width: 80px;
  border: 0;
  padding: 0;

  .btn {
    border: 0 !important;
    padding: 0;
  }
}


.rightColumnReport {
  overflow: hidden;
}

.leftColumnReport {
  position: relative;
  z-index: 11;
}

.leftColumnReport .card {
  border-radius: 0;
}

.addmenucontainer {
  position: relative;

  & a.active:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    content: '';
    position: absolute;
    right: -30px;
  }
}

.addMenudiv-backdrop{
  display: none;
}
.addMenudiv {
  left: -410px;
  position: absolute;
  top: 100px;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: left .2s ease;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
  width: 400px;
  max-height: 400px;
  overflow: auto;
  z-index: 0;
  box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 1);
  background: #fff;
  min-height: 200px;
  border-radius: 10px;


  &.active {
    display: block;
    left: 15px;
    z-index: 1;
  }

  .fieldlist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px 10px;
      position: relative;
      border-top: 2px solid #fff;

      .material-icons {
        display: none;
        position: absolute;
        right: 8px;
        top: 8px;
      }

      &.active {
        .material-icons {
          display: block;
          color: #4c79dc;
        }
      }

      &:hover {
        background: #f2f2f2;
        cursor: pointer;
      }

      &:first-child {
        border: 0;
      }
    }
  }

  .bottombtn {
    border: 0;
    color: #4c79dc;

    &:hover {
      background-color: #4c79dc;
      color: #fff;
      cursor: pointer;
    }
  }

  &.active+&-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    display: block;
  }

}


.searchWidthicon {
  position: relative;
  border: 1px solid #d2d2d2;

  input[type="text"] {
    background: none;
    border: 0;
    padding: 5px 5px 5px 25px;
    height: 30px;
  }

  .material-icons-outlined {
    position: absolute;
    left: 5px;
    top: 6px;
    font-size: 18px;
    color: #ccc;
  }
}

.selectedField{
  list-style: none;
  margin:0;
  padding:0;
  li{
  position: relative;
  background-color: #fff;
  padding: 5px 8px;
  border: 1px solid #fff;
  margin-bottom:3px;
  span{

  }
  a.removeList{
  color: red;
  position: absolute;
  top:7px;
  right:5px;
  }
  &:hover{
  background-color: #f2f2f2;
  }
  }
}


.reportData{
  max-height: 500px;
  overflow: auto;
}


.nolist{
  list-style: none;
}
.nogap{
  margin: 0;
  padding: 0 0 0 10px;
}
.sortorder{
  li{
    margin: 5px 0;
    color: #333;
  }
}