/// Main brand color
/// @type Color
$brand-color: #4c79dc !default;
$primary: $brand-color;

/// @white Color
$white-color: rgb(255, 255, 255) !default;
$sidebar-color: #2f353a;
$font-size-exlg: ($font-size-base * 1.5) !default;
$color-black:rgba(0,0,0,.87);
$color-white: #fff;
$color-grey:#5f6368;
$heading-color:#5c5b7e;
$color-primary : #4c79dc;
$border-color:#e2e1e6;
$zero: 0;
$two: 2;

$theme-colors: (
  "tertiary": #B980F0,
  "quaternary": #ED8E7C,
  "light-warning": #fbe6b7,
  "light-success": #c7f2df,
  "light-danger": #faccd9,
  "light-info": #d4dff7,
);


$modal-xlg : 1100px;
$modal-llg : 950px;
$modal-lg : 800px;
$modal-md : 550px;
$modal-sm : 350px;